<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="org.deved.antlride.stringtemplate.internal.ui.editor.StringTemplateDocumentSetupParticipant"
            extensions="st,stg">
      </participant>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.deved.antlride.stringtemplate.internal.ui.StringTemplateUIPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="org.deved.antlride.stringtemplate.ui.editorContext"
            name="%stEditorScopeName"
            parentId="org.eclipse.dltk.ui.scriptEditorScope">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.deved.antlride.stringtemplate.internal.ui.editor.StringTemplateEditor"
            contributorClass="org.deved.antlride.stringtemplate.internal.ui.editor.StringTemplateEditorActionContributor"
            default="true"
            extensions="st,stg"
            icon="icons/obj16/stg.gif"
            id="org.deved.antlride.stringtemplate.ui.editor"
            name="%stEditorName">
         <contentTypeBinding
               contentTypeId="org.deved.antlride.stringtemplate.contentType">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.dltk.ui.language">
      <language
            class="org.deved.antlride.stringtemplate.internal.ui.StringTemplateUILanguageToolkit"
            nature="org.deved.antlride.stringtemplate.nature"
            priority="0">
      </language>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.deved.antlride.ui.preferences"
            class="org.deved.antlride.stringtemplate.internal.ui.preferences.StringTemplateEditorPreferencePage"
            id="org.deved.antlride.stringtemplate.ui.preferences.editor"
            name="%stEditorPreferencePageName">
      </page>
      <page
            category="org.deved.antlride.stringtemplate.ui.preferences.editor"
            class="org.deved.antlride.stringtemplate.internal.ui.preferences.StringTemplateEditorSyntaxColoringPreferencesPage"
            id="org.deved.antlride.stringtemplate.ui.preferences.syntax"
            name="%stEditorSyntaxColoringPreferencePageName">
      </page>
   </extension>
</plugin>
