<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="editorPageContribution" name="org.deved.antlride.ui.editor.pageContribution" schema="schema/editorPageContribution.exsd"/>
	<extension
         id="org.deved.antlride.ui.editor.antlrDocumentSetupParticipant"
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="org.deved.antlride.internal.ui.editor.AntlrDocumentSetupParticipant"
            extensions="g">
      </participant>
   </extension>
    <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.deved.antlride.internal.ui.AntlrUIPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            description="%antlride.editorScope.description"
            id="org.deved.antlride.ui.antlrEditorScope"
            name="%antlride.editorScope.name"
            parentId="org.eclipse.dltk.ui.scriptEditorScope">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.deved.antlride.internal.ui.editor.AntlrMultiPageEditor"
            contributorClass="org.deved.antlride.internal.ui.editor.AntlrModuleEditorActionContributor"
            default="true"
            extensions="g"
            icon="icons/obj16/g.gif"
            id="org.deved.antlride.ui.antlrEditor"
            name="%antlride.ui.editor.name">
         <contentTypeBinding
               contentTypeId="org.deved.antlride.antlrContentType">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.dltk.ui.language">
      <language
            class="org.deved.antlride.internal.ui.AntlrUILanguageToolkit"
            nature="org.deved.antlride.core.nature"
            priority="0">
      </language>
   </extension>
   <extension
         id="org.deved.antlride.ui.defaultCompletionProposalComputer"
         point="org.eclipse.dltk.ui.scriptCompletionProposalComputer">
      <scriptCompletionProposalComputer
            categoryId="org.eclipse.dltk.ui.scriptTypeProposalCategory"
            class="org.deved.antlride.internal.ui.text.completion.AntlrTypeCompletionProposalComputer"
            toolkitId="org.deved.antlride.core.nature">
         <partition
               type="__antlr3_options">
         </partition>
         <partition
               type="__antlr3_target_action">
         </partition>
         <partition
               type="__antlr3_rule_action">
         </partition>
         <partition
               type="__antlr3_bracket">
         </partition>
         <partition
               type="__dftl_partition_content_type">
         </partition>
      </scriptCompletionProposalComputer>

   </extension>
   <extension
       point="org.eclipse.ui.editors.templates">
    <contextType
          class="org.deved.antlride.internal.ui.text.templates.AntlrTemplateContextType"
          id="org.deved.antlride.antlrTemplateContextType"
          name="%antlride.ui.templateContext.name">
    </contextType>
    <include
          file="templates/templates.xml"
          translations="templates/templates.properties">
    </include>
 	 </extension>
 	 <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.deved.antlride.ui"
            name="%antlride.ui.category"/>
       <wizard
             category="org.deved.antlride.ui"
             class="org.deved.antlride.internal.ui.wizards.AntlrDefaultGrammarWizard"
             icon="$nl$/icons/obj16/ng.gif"
             id="org.deved.antlride.ui.wizards.combinedGrammar"
             name="%antlride.ui.wizard.combined.name">
          <description>%antlride.ui.wizard.combined.description</description>
       </wizard>
       <wizard
             category="org.deved.antlride.ui"
             class="org.deved.antlride.internal.ui.wizards.AntlrParserGrammarWizard"
             icon="$nl$/icons/obj16/ng.gif"
             id="org.deved.antlride.ui.wizards.parserGrammar"
             name="%antlride.ui.wizard.parser.name">
          <description>%antlride.ui.wizard.parser.description</description>
       </wizard>
       <wizard
             category="org.deved.antlride.ui"
             class="org.deved.antlride.internal.ui.wizards.AntlrTreeGrammarWizard"
             icon="$nl$/icons/obj16/ng.gif"
             id="org.deved.antlride.ui.wizards.treeGrammar"
             name="%antlride.ui.wizard.tree.name">
          <description>%antlride.ui.wizard.tree.description</description>
       </wizard>
       <wizard
             category="org.deved.antlride.ui"
             class="org.deved.antlride.internal.ui.wizards.AntlrLexerGrammarWizard"
             icon="$nl$/icons/obj16/ng.gif"
             id="org.deved.antlride.ui.wizards.lexerGrammar"
             name="%antlride.ui.wizard.lexer.name">
          <description>%antlride.ui.wizard.lexer.description</description>
       </wizard>
 	 </extension> 	
   <extension point="org.eclipse.ui.propertyPages">
    <page
            class="org.deved.antlride.internal.ui.preferences.AntlrGlobalPreferencesPage"
            id="org.deved.antlride.ui.propertyPage"                       
            name="%antlride.ui.preferencePage.name">
            <enabledWhen>
        		<adapt type="org.eclipse.core.resources.IProject">
          			<test
            			property="org.eclipse.core.resources.projectNature"
            			value="org.deved.antlride.core.nature" />
        		</adapt>
      		</enabledWhen>
    </page>
    <page
      class="org.deved.antlride.internal.ui.preferences.AntlrCodeGeneratorPreferencePage"
      category="org.deved.antlride.ui.propertyPage"
      id="org.deved.antlride.propertyPage.codegen"
      name="%antlride.ui.propertyPage.codegen">
      <enabledWhen>
        <adapt type="org.eclipse.core.resources.IProject">
          <test
            property="org.eclipse.core.resources.projectNature"
            value="org.deved.antlride.core.nature" />
        </adapt>
      </enabledWhen>
    </page>
    <page
      class="org.deved.antlride.internal.ui.preferences.AntlrBuildingPreferencesPage"
      category="org.deved.antlride.ui.propertyPage"
      id="org.deved.antlride.propertyPage.building"
      name="%antlride.ui.preferencePage.building">
      <enabledWhen>
        <adapt type="org.eclipse.core.resources.IProject">
          <test
            property="org.eclipse.core.resources.projectNature"
            value="org.deved.antlride.core.nature" />
        </adapt>
      </enabledWhen>
    </page>
    <page
            category="org.deved.antlride.ui.propertyPage"
            class="org.deved.antlride.internal.ui.preferences.AntlrSaveActionsPage"
            id="org.deved.antlride.propertyPage.saveActions"
            name="%antlride.ui.preferencePage.saveActions.name">
            <enabledWhen>
        <adapt type="org.eclipse.core.resources.IProject">
          <test
            property="org.eclipse.core.resources.projectNature"
            value="org.deved.antlride.core.nature" />
        </adapt>
      </enabledWhen>
      </page>
      <page
            class="org.deved.antlride.internal.ui.preferences.AntlrGrammarPropertyPage"
            id="org.deved.antlride.ui.grammar.propertyPage"                       
            name="%antlride.ui.preferencePage.name" nameFilter="*.g">
    </page>
    <page
          class="org.deved.antlride.internal.ui.preferences.AntlrGrammarCodeGeneratorPropertyPage"
          id="org.deved.antlride.propertyPage.grammarCodeGenerator"
          category="org.deved.antlride.ui.grammar.propertyPage"
          name="%antlride.ui.preferencePage.codegen" nameFilter="*.g">
    </page>
    <page
            category="org.deved.antlride.ui.grammar.propertyPage"
            class="org.deved.antlride.internal.ui.preferences.AntlrGrammarSaveActionsPage"
            id="org.deved.antlride.ui.grammar.propertyPage.saveActions"
            name="%antlride.ui.preferencePage.saveActions.name" nameFilter="*.g">
    </page>
  </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.deved.antlride.internal.ui.preferences.AntlrGlobalPreferencesPage"
            id="org.deved.antlride.ui.preferences"
            name="%antlride.ui.preferencePage.name">
      </page>
      <page
      		category="org.deved.antlride.ui.preferences"
            class="org.deved.antlride.internal.ui.preferences.AntlrCodeGeneratorPreferencePage"
            id="org.deved.antlride.ui.preferences.codegen"
            name="%antlride.ui.preferencePage.codegen">
      </page>
      <page
      		category="org.deved.antlride.ui.preferences"
            class="org.deved.antlride.internal.ui.preferences.AntlrBuilderPreferencesPage"
            id="org.deved.antlride.ui.preferences.builder"
            name="%antlride.ui.preferencePage.builder">
      </page>
      <page
      		category="org.deved.antlride.ui.preferences.builder"
            class="org.deved.antlride.internal.ui.preferences.AntlrBuildingPreferencesPage"
            id="org.deved.antlride.ui.preferences.builder.building"
            name="%antlride.ui.preferencePage.building">
      </page>     
      <page
            category="org.deved.antlride.ui.preferences"
            class="org.deved.antlride.internal.ui.preferences.AntlrEditorPreferencesPage"
            id="org.deved.antlride.ui.preferences.editor"
            name="%antlride.ui.preferencePage.editor.name">
      </page>
      <page
            category="org.deved.antlride.ui.preferences.editor"
            class="org.deved.antlride.internal.ui.preferences.AntlrEditorContentAssistPreferencesPage"
            id="org.deved.antlride.ui.preferences.editor.contentAssist"
            name="%antlride.ui.preferencePage.contentAssist.name">
      </page>
      <page
            category="org.deved.antlride.ui.preferences.editor"
            class="org.deved.antlride.internal.ui.preferences.AntlrSaveActionsPage"
            id="org.deved.antlride.ui.preferences.editor.saveActions"
            name="%antlride.ui.preferencePage.saveActions.name">
      </page>
      <page
            category="org.deved.antlride.ui.preferences.editor"
            class="org.deved.antlride.internal.ui.preferences.AntlrEditorFoldingPreferencePage"
            id="org.deved.antlride.ui.preferences.editor.folding"
            name="%antlride.ui.preferencePage.folding.name">
      </page>
      <page
            category="org.deved.antlride.ui.preferences.editor"
            class="org.deved.antlride.internal.ui.preferences.AntlrEditorSyntaxColoringPreferencesPage"
            id="org.deved.antlride.ui.preferences.editor.syntaxColoring"
            name="%antlride.ui.preferencePage.syntaxColoring.name">
      </page>
      <page
            category="org.deved.antlride.ui.preferences.editor"
            class="org.deved.antlride.internal.ui.text.templates.AntlrCodeTemplatesPreferencePage"
            id="org.deved.antlride.ui.preferences.editor.templates"
            name="%antlride.ui.preferencePage.templates.name">
      </page>
      <page
			category="org.deved.antlride.ui.preferences.editor"
			class="org.deved.antlride.internal.ui.preferences.AntlrFormatterPreferencePage"
			id="org.deved.antlride.ui.preferences.editor.formatter"
			name="Formatter">
		</page>
   </extension>
   <extension point="org.eclipse.dltk.ui.formatterFactory">
		<engineContribution natureId="org.deved.antlride.core.nature">
			<selector class="org.eclipse.dltk.core.PreferenceBasedContributionSelector">
				<parameter name="qualifier" value="org.deved.antlride.ui"/>
				<parameter name="key" value="formatterId"/>
			</selector>
		</engineContribution>
	</extension>
   <extension
        point="org.eclipse.dltk.ui.scriptDocumentationProviders">
     <provider
           class="org.deved.antlride.internal.ui.views.doc.AntlrDocumentationProvider"
           id="org.deved.antlride.ui.AntlrDocumentationProvider"
           nature="org.deved.antlride.core.nature"/>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="org.deved.antlride.internal.ui.decorators.AntlrLabelDecorator"
            id="org.deved.antlride.ui.antlrDecorator"
            label="%antlride.ui.fileDecorator.name"
            lightweight="true"
            location="BOTTOM_LEFT"
            state="true">
         <enablement>
               <objectClass
                     name="org.deved.antlride.core.resources.AntlrGeneratedResource">
               </objectClass>
         </enablement>
      </decorator>
   </extension>
   <extension
       point="org.eclipse.ui.bindings">         
        <key
              commandId="org.eclipse.dltk.ui.edit.text.script.format"
              contextId="org.deved.antlride.ui.antlrEditorScope"
              schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
              sequence="Ctrl+Shift+F">
        </key> 
 </extension>
  <extension
         point="org.eclipse.ui.popupMenus">
         <!--
      <objectContribution
            adaptable="true"
            id="org.deved.antlride.projectMenu"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IProject">
         <menu
                  id="org.deved.antlride.menu"
                  label="%antlride.ui.menu.name" path="additions">
                  <separator
                        name="enable">
                  </separator>
                  <separator
                        name="additions">
                  </separator>
                  <separator
                        name="disable">
                  </separator>
         </menu>
       </objectContribution> -->
       <objectContribution adaptable="true"
            id="org.deved.antlride.projectMenus"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IProject">
            <visibility>
               <not>
                  <objectState name="nature"
                        value="org.deved.antlride.core.nature">
                  </objectState>
               </not>
             </visibility>
         <action
               class="org.deved.antlride.internal.ui.AddAntlrNatureAction"
               enablesFor="+"
               id="org.deved.antlride.ui.addNatureAction"
               label="%antlride.ui.menu.addNature.name"
               menubarPath="org.eclipse.ui.projectConfigure/additions">
         </action>
        </objectContribution>
        <!--
       <objectContribution adaptable="true"
            id="org.deved.antlride.projectMenus"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IProject">
          <visibility>
            <objectState
                  name="nature"
                  value="org.deved.antlride.core.nature">
            </objectState>
         </visibility>
         <action
               class="org.deved.antlride.internal.ui.RemoveAntlrNatureAction"
               enablesFor="+"
               id="org.deved.antlride.ui.removeNatureAction"
               label="%antlride.ui.menu.removeNature.name"
               menubarPath="org.eclipse.ui.projectConfigure/additions">
         </action>
      </objectContribution>
      -->
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.deved.antlride.ui"
            name="%antlride.ui.category">
      </category>
      <view            
            category="org.deved.antlride.ui"
            name="%antlride.ui.views.doc"
            icon="icons/obj16/g.gif"
            class="org.deved.antlride.internal.ui.views.doc.AntlrDocumentationView"
            id="org.deved.antlride.ui.AntlrDocumentationView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            class="org.deved.antlride.internal.ui.AntlrConsoleFactory"
            icon="icons/etool16/console.gif"
            label="%antlride.ui.views.console">
      </consoleFactory>
   </extension>
   <extension
         point="org.eclipse.compare.contentMergeViewers">
      <viewer
            class="org.deved.antlride.internal.ui.editor.compare.AntlrContentViewerCreator"
            extensions="g"
            id="org.deved.antlride.ui.compare.contentViewerCreator">
      </viewer>
      <contentTypeBinding
            contentMergeViewerId="org.deved.antlride.ui.compare.contentViewerCreator"
            contentTypeId="org.deved.antlride.antlrContentType">
      </contentTypeBinding>
      
   </extension>
   <!--
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
         name="org.deved.antlride.ui.ambiguousPathAnnotation"
         super="org.eclipse.ui.workbench.texteditor.info"
         markerType="org.deved.antlride.core.ambiguousPath"
         markerSeverity="0">
      </type>
   </extension>
   -->
   <!--
   <extension
	     point="org.eclipse.ui.editors.markerAnnotationSpecification">
	     <specification
	      		annotationType="org.deved.antlride.ui.ambiguousPathAnnotation"
	            label="Ambiguous Path Label"
	            textPreferenceKey="ambiguousIndication"
	            textPreferenceValue="false"
	            highlightPreferenceKey="ambiguousHighlighting"
	            highlightPreferenceValue="true"
	            overviewRulerPreferenceKey="ambiguousIndicationInOverviewRuler"
	            overviewRulerPreferenceValue="true"
	            verticalRulerPreferenceKey="ambiguousIndicationInVerticalRuler"
	            verticalRulerPreferenceValue="true"
	            colorPreferenceKey="ambiguousIndicationColor"
	            colorPreferenceValue="0,255,0"
	            presentationLayer="3"
	            showInNextPrevDropdownToolbarActionKey="showAmbiguousInNextPrevDropdownToolbarAction"
	            showInNextPrevDropdownToolbarAction="true"
	            isGoToNextNavigationTargetKey="isAmbiguousGoToNextNavigationTarget"
	            isGoToNextNavigationTarget="true"
	            isGoToPreviousNavigationTargetKey="isAmbiguousGoToPreviousNavigationTarget"
	            isGoToPreviousNavigationTarget="true"
	            textStylePreferenceKey="ambiguousTextStyle"
	            textStylePreferenceValue="PROBLEM_UNDERLINE">
	     </specification>
   </extension>
   -->
</plugin>
