<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>     
   <extension
         point="org.eclipse.debug.ui.debugModelPresentations">
      <debugModelPresentation
            class="org.deved.antlride.internal.debug.ui.AntlrDebugModelPresentation"
            id="org.deved.antlride.debug.antlrModel">
      </debugModelPresentation>
   </extension>
   <!--<extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            targetID="org.deved.antlride.ui.antlrEditor"
            id="org.deved.antlride.debug.ui.rulerActions">
         <action
               label="Not Used"
               class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
               style="push"
               actionID="RulerDoubleClick"
               id="org.deved.antlride.debug.ui.doubleClickBreakpointAction"/>
      </editorContribution>
   </extension> -->
    <extension
         point="org.eclipse.ui.views">
      <view
            class="org.deved.antlride.internal.debug.ui.AntlrDebugEventsView"
            icon="icons/obj16/g.gif"
            id="org.deved.antlride.debug.ui.AntlrEventView"
            name="ANTLR Debug Events"/>
      <view
            class="org.deved.antlride.internal.debug.ui.AntlrDebugInputView"
            icon="icons/obj16/g.gif"
            id="org.deved.antlride.debug.ui.AntlrDebugInputView"
            name="ANTLR Debug Input">
      </view>
      <view
            class="org.deved.antlride.internal.debug.ui.AntlrDebugTreeView"
            icon="icons/obj16/parsetree.gif"
            id="org.deved.antlride.debug.ui.AntlrDebugTreeView"
            name="ANTLR Debug Tree">
      </view>
   </extension>
   <extension
          point="org.eclipse.ui.perspectiveExtensions">
       <perspectiveExtension targetID="org.eclipse.debug.ui.DebugPerspective">
          <view
                id="org.deved.antlride.debug.ui.AntlrEventView"
                relationship="stack"
                relative="org.eclipse.debug.ui.VariableView"/>
          <view
                id="org.deved.antlride.debug.ui.AntlrDebugInputView"
                minimized="false"
                relationship="stack"
                relative="org.eclipse.debug.ui.VariableView">
          </view>
          <view
                id="org.deved.antlride.debug.ui.AntlrDebugTreeView"
                minimized="false"
                relationship="stack"
                relative="org.eclipse.debug.ui.VariableView">
          </view>          
       </perspectiveExtension>
    </extension>
   <extension
           point="org.eclipse.ui.contexts">
        <context
              parentId="org.eclipse.debug.ui.debugging"
              description="Debugging ANTLR Grammars"
              name="Debugging ANTLR Grammars"
              id="org.deved.antlride.debug.ui.debugging"/>
   </extension>
    <extension
	         point="org.eclipse.debug.ui.contextViewBindings">
	      <contextViewBinding
             autoOpen="true"
             autoClose="false" 
             contextId="org.deved.antlride.debug.ui.debugging"
             viewId="org.deved.antlride.debug.ui.AntlrEventView"/>
       <contextViewBinding
             autoClose="false"
             autoOpen="true"
             contextId="org.deved.antlride.debug.ui.debugging"
             viewId="org.deved.antlride.debug.ui.AntlrDebugInputView">
       </contextViewBinding>
       <contextViewBinding
             autoClose="false"
             autoOpen="true"
             contextId="org.deved.antlride.debug.ui.debugging"
             viewId="org.deved.antlride.debug.ui.AntlrDebugTreeView">
       </contextViewBinding>
   </extension>
   <extension
         point="org.eclipse.debug.ui.debugModelContextBindings">
      <modelContextBinding
            contextId="org.deved.antlride.debug.ui.debugging"
            debugModelId="org.deved.antlride.debug.antlrModel">
      </modelContextBinding>
   </extension>   
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            class="org.deved.antlride.internal.debug.ui.breakpoints.AntlrEditorAdapterFactory"
            adaptableType="org.deved.antlride.internal.ui.editor.AntlrEditor">
			<adapter type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget"/>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.deved.antlride.debug.ui.AntlrDebugActionSet"
            label="%actionSet.label.antlrDebugger"
            visible="true">
         <menu
               id="org.eclipse.ui.run"
               label="%menu.label.run"
               path="additions">
            <separator
                  name="scriptGroup">
            </separator>
         </menu>
      </actionSet>
   </extension>
   <!--<extension
         point="org.eclipse.ui.popupMenus">           
      <viewerContribution
            targetID="#AntlrEditorContext"
            id="org.deved.antlride.debug.ui.editor.rulerActions">
         <action
               label="ANTLR Breakpoints"
               class="org.deved.antlride.internal.debug.ui.breakpoints.AddBreakpointsActionDelegate"
               menubarPath="additions"
               id="org.deved.antlride.debug.ui.editor.ruler.addBreakpointsAction">
               <selection
                     class="org.eclipse.jface.text.ITextSelection">
               </selection>
         </action>         
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="org.deved.antlride.debug.ui.DebugPopupActions"
            targetID="#AntlrEditorContext">
         <visibility>
            <and>
               <systemProperty
                     name="org.eclipse.dltk.debug.ui.debuggerActive"
                     value="true">
               </systemProperty>
               <objectClass
                     name="org.eclipse.jface.text.ITextSelection">
               </objectClass>
            </and>
         </visibility>
         <action
               class="org.eclipse.dltk.internal.debug.ui.actions.ScriptWatchAction"
               id="org.deved.antlride.debug.ui.ScriptWatch"
               label="%ScriptWatch.label"
               menubarPath="additions">
         </action>
      </viewerContribution>
   </extension>-->
   <extension
         point="org.eclipse.ui.actionSetPartAssociations">
      <actionSetPartAssociation
            targetID="org.eclipse.debug.ui.launchActionSet">
         <part
               id="org.deved.antlride.ui.antlrEditor">
         </part>
      </actionSetPartAssociation>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
          class="org.deved.antlride.internal.debug.ui.breakpoints.AntlrBreakpointsPropertyPage"
          id="org.deved.antlride.propertyPage.breakpoints"
          name="ANTLR Breakpoints">
       <enabledWhen>
          <instanceof
                value="org.deved.antlride.ui.AntlrWorkbenchAdapter">
          </instanceof>
       </enabledWhen>
    </page>
   </extension>
</plugin>
