<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="org.deved.antlride.gunit.internal.ui.editor.GUnitDocumentSetupParticipant"
            extensions="gunit,testsuite">
      </participant>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.deved.antlride.gunit.internal.ui.GUnitUIPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="org.deved.antlride.gunit.ui.editorContext"
            name="%guEditorScopeName"
            parentId="org.eclipse.dltk.ui.scriptEditorScope">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.deved.antlride.gunit.internal.ui.editor.GUnitEditor"
            contributorClass="org.deved.antlride.gunit.internal.ui.editor.GUnitEditorActionContributor"
            default="true"
            extensions="gunit,testsuite"
            icon="icons/gunit.gif"
            id="org.deved.antlride.gunit.ui.editor"
            name="%guEditorName">
         <contentTypeBinding
               contentTypeId="org.deved.antlride.gunit.contentType">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.dltk.ui.language">
      <language
            class="org.deved.antlride.gunit.internal.ui.GUnitUILanguageToolkit"
            nature="org.deved.antlride.gunit.nature"
            priority="0">
      </language>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.deved.antlride.ui.preferences"
            class="org.deved.antlride.gunit.internal.ui.preferences.GUnitEditorPreferencePage"
            id="org.deved.antlride.gunit.ui.preferences.editor"
            name="%guEditorPreferencePageName">
      </page>
      <page
            category="org.deved.antlride.gunit.ui.preferences.editor"
            class="org.deved.antlride.gunit.internal.ui.preferences.GUnitEditorSyntaxColoringPreferencesPage"
            id="org.deved.antlride.gunit.ui.preferences.syntax"
            name="%guEditorSyntaxColoringPreferencePageName">
      </page>
   </extension>

</plugin>
