<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="languageTarget" name="languageTarget" schema="schema/languageTarget.exsd"/>
   <extension
         id="org.deved.antlride.core.nature"
         name="%antlride.core.nature.name"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.deved.antlride.core.AntlrNature">
         </run> 
      </runtime>
   </extension>
   <extension
         id="org.deved.antlride.core.language"
         point="org.eclipse.dltk.core.language">
      <language
            class="org.deved.antlride.core.AntlrLanguageToolkit"
            nature="org.deved.antlride.core.nature"
            priority="5">
      </language>
   </extension>
    <extension
         point="org.eclipse.dltk.core.buildParticipant">
      <buildParticipant
            class="org.eclipse.dltk.core.builder.ParserBuildParticipantFactory"
            id="org.deved.antlride.buildParticipant.parser"
            name="%parserBuildParticipant.name"
            nature="org.deved.antlride.core.nature">
      </buildParticipant>
       <buildParticipant
            class="org.deved.antlride.internal.core.builder.AntlrBuilderFactory"
            id="org.deved.antlride.buildParticipant.builder"
            name="%parserBuildParticipant.name"
            nature="org.deved.antlride.core.nature">
      </buildParticipant>
   </extension>
   <extension
         point="org.eclipse.dltk.core.sourceParsers">
         <parserContribution
            natureId="org.deved.antlride.core.nature">
         <parser
               class="org.deved.antlride.internal.core.parser.AntlrSourceParserFactory"
               description="org.deved.antlride.core.parser1"
               id="sourceParserFactory"
               name="parserFactory"
               priority="0">
           </parser>
      </parserContribution>
   </extension>
   <extension
         id="org.deved.antlride.core.elementSourceParser"
         point="org.eclipse.dltk.core.sourceElementParsers">
      <parser
            class="org.deved.antlride.core.build.AntlrSourceParserRepository"
            nature="org.deved.antlride.core.nature">            
      </parser>
   </extension>
   <extension
        point="org.eclipse.dltk.core.search">
     <searchFactory
           class="org.deved.antlride.internal.core.search.AntlrSearchFactory"
           nature="org.deved.antlride.core.nature"
           priority="0">
     </searchFactory>
  </extension>
   <extension
         point="org.eclipse.dltk.core.completionEngine">
      <completionEngine
            class="org.deved.antlride.internal.core.codeassit.AntlrCompletionEngine"
            nature="org.deved.antlride.core.nature"
            priority="0">
      </completionEngine>
   </extension>
   <extension
         point="org.eclipse.dltk.core.selectionEngine">
      <selectionEngine
            class="org.deved.antlride.internal.core.codeassit.AntlrSelectionEngine"
            nature="org.deved.antlride.core.nature">
      </selectionEngine>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            describer="org.deved.antlride.core.AntlrContentDescriber"
            file-extensions="g"
            id="org.deved.antlride.antlrContentType"
            name="%antlride.core.contentType"
            priority="high">
      </content-type>
   </extension>
  <extension
        point="org.eclipse.core.runtime.adapters">
     <factory
           adaptableType="org.eclipse.core.runtime.IAdaptable"
           class="org.deved.antlride.core.resources.AntlrResourceAdapterFactory">
        <adapter
              type="org.deved.antlride.core.resources.AntlrGeneratedResource">
        </adapter>
     </factory>
  </extension>
  <!--
  <extension
        id="ambiguousPath"
        name="Ambiguous Path"
        point="org.eclipse.core.resources.markers">
        <super type="org.eclipse.core.resources.textmarker"/>
        <persistent value="true"/>
  </extension>-->
</plugin>
